<!--
    COMP229-401 Fall 2022
    Assignment 2 - Express Portfolio – Authentication 
    Date: October 21, 2022

    Author: Junesik (Tony) Han
    Student #: 301252900

    Filename: add.ejs
-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <input type="hidden" name="id" value="<%= contact._id %>" >
                <div class="form-group">
                    <label for="nameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Contact Name"
                    name="name" 
                    value="<%= contact.name %>"
                    required>
                </div>
                <p></p>
                <div class="form-group">
                    <label for="authorTextField">Contact Number</label>
                    <input type="tel" class="form-control"
                    id="numberTextField"
                    placeholder="123-456-7890"
                    pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    name="number" 
                    value="<%= contact.number %>"
                    required>
                    <small>Format: 123-456-7890</small>
                </div>
                <p></p>
                <div class="form-group">
                    <label for="publishedTextField">Contact Email</label>
                    <input type="email" class="form-control"
                    id="emailTextField"
                    placeholder="Enter the Contact Email"
                    name="emailAddress" 
                    value="<%= contact.emailAddress %>"
                    required>
                    <small>Format: name@email.com</small>
                </div>
                <p></p>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</div>