<div class="container">
    <h1>Business Contact List</h1>
    <a href="/contact-add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a Contact</a>
    <div class="row">
        <div class="col">
    
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Email Address</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="contactList">
                    <!-- Repeatable Rows -->
                    <% for(let count = 0; count < contacts.length; count++) { %>
                        <tr>
                            <th scope="row" class="text-center"><%= count + 1 %></th>
                            <td><%= contacts[count].name %></td>
                            <td><%= contacts[count].number %></td>
                            <td><%= contacts[count].emailAddress %></td>
                            
                            <td class="text-center col-1">
                                <a href="/contact-edit/<%= contacts[count]._id %>"
                                    class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Update</a>
                            </td>
                            
                            <td class="text-center col-1">
                                <a href="/contact-delete/<%= contacts[count]._id %>"
                                    class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>